<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>arvis-nintendo-switch-price-compare</string>
		<key>description</key>
		<string>Compare Nintendo Switch game prices by country through https://eshop-prices.com/</string>
		<key>readme</key>
		<string>

This workflow is converted by arvis-to-alfred.</string>
		<key>version</key>
		<string>0.1.4</string>
		<key>variables</key>
		<dict>
			<key>currency</key>
			<string>USD</string>
		</dict>
		<key>bundleid</key>
		<string>jopemachine.arvis-nintendo-switch-price-compare</string>
		<key>createdby</key>
		<string>jopemachine</string>
		<key>webaddress</key>
		<string>https://github.com/arvis-workflows/arvis-nintendo-switch-price-compare</string>
		<key>disabled</key>
		<false></false>
		<key>connections</key>
		<dict>
			<key>D2F5192B-AB17-4685-BC64-442B20EA73FA</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>B07A44F3-B976-4864-B60A-BB5E66CEB6BB</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>B07A44F3-B976-4864-B60A-BB5E66CEB6BB</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>DDC74ECA-E8F3-48C6-9A31-C8C2989073E7</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>uid</key>
				<string>D2F5192B-AB17-4685-BC64-442B20EA73FA</string>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false></false>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<true></true>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true></true>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>scriptargtype</key>
					<integer>0</integer>
					<key>scriptfile</key>
					<string></string>
					<key>type</key>
					<integer>0</integer>
					<key>keyword</key>
					<string>nsp</string>
					<key>runningsubtext</key>
					<string>Hold on a sec until script work is done...</string>
					<key>script</key>
					<string>./node_modules/.bin/run-node list.js {query}</string>
					<key>subtext</key>
					<string></string>
					<key>title</key>
					<string>Nintendo switch prices compare</string>
					<key>withspace</key>
					<true></true>
				</dict>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>uid</key>
				<string>B07A44F3-B976-4864-B60A-BB5E66CEB6BB</string>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false></false>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<true></true>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true></true>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>scriptargtype</key>
					<integer>0</integer>
					<key>scriptfile</key>
					<string></string>
					<key>type</key>
					<integer>0</integer>
					<key>keyword</key>
					<string></string>
					<key>runningsubtext</key>
					<string>Hold on a sec until script work is done...</string>
					<key>script</key>
					<string>./node_modules/.bin/run-node prices.js {query}</string>
					<key>subtext</key>
					<string></string>
					<key>title</key>
					<string>Prices</string>
					<key>withspace</key>
					<false></false>
				</dict>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>uid</key>
				<string>DDC74ECA-E8F3-48C6-9A31-C8C2989073E7</string>
				<key>type</key>
				<string>alfred.workflow.output.clipboard</string>
				<key>config</key>
				<dict>
					<key>autopaste</key>
					<false></false>
					<key>ignoredynamicplaceholders</key>
					<false></false>
					<key>transient</key>
					<false></false>
					<key>clipboardtext</key>
					<string>{query}</string>
				</dict>
				<key>version</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>D2F5192B-AB17-4685-BC64-442B20EA73FA</key>
			<dict>
				<key>xpos</key>
				<integer>100</integer>
				<key>ypos</key>
				<integer>100</integer>
			</dict>
			<key>B07A44F3-B976-4864-B60A-BB5E66CEB6BB</key>
			<dict>
				<key>xpos</key>
				<integer>280</integer>
				<key>ypos</key>
				<integer>100</integer>
			</dict>
			<key>DDC74ECA-E8F3-48C6-9A31-C8C2989073E7</key>
			<dict>
				<key>xpos</key>
				<integer>460</integer>
				<key>ypos</key>
				<integer>100</integer>
			</dict>
		</dict>
	</dict>
</plist>